/* General */
@font-face {
    font-family:"Poppins";
    src: url(./assets/fonts/Poppins-Regular.ttf);
}

body{
    font-family:"Poppins", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

p{
    color: rgb(85,85,85);
}

/* Navigation */
nav{
    display: flex;
    justify-content: space-around;
    height: 17vh;
    align-items: center;
    
    
    .logo{
        font-size:2rem ;
        cursor: default;
    }
    .nav-links{
        display: flex;
        list-style: none;
        gap: 2rem;
        font-size: 1.5rem;
    }
    a{
        position: relative;
        text-decoration: none;
        transition: all 0.4s ease;
        color: black;
    }
    a:hover{
        color: gray;
    }
    /*effect slow underline*/
    a::after{                   
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: -1rem;
        background-color: grey;
        transform: scale(0);
        transition: all 0.4s ease-in-out;
        visibility: hidden;
    }
    a:hover::after{
        visibility: visible;
        transform: scale(1);
        color: gray;
    } 
}

/* Hamburger-nav */
#hamburger-nav{
    display: none;
    justify-content: space-between ;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}
.hamburger-menu{
    background-color: black;
    position: fixed;
    width: 450px;
    max-width: 450px;
    right: -450px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    transition: all .4s ease;
   

    ul{
        list-style: none;
    }
    ul li a{
        text-decoration: none;
        color: white;
        transition: all .4s ease;
    }
    ul li a:hover{
        text-decoration: none;
        color: grey;
    }
}
.hamburger-icon{
    width: 30px;
    height: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    
    span{
        background-color: black;
        width: 100%;
        height: 4px;
        transition: all .5s ease;
    }
}
.hamburger-menu.active{
    right: 0;
}
.hamburger-icon.active span:nth-child(2){
    opacity: 0;
}
.hamburger-icon.active span:first-child{
    transform: translateY(10px) rotateZ(45deg);
    background-color: white;
}
.hamburger-icon.active span:last-child{
    transform: translateY(-10px) rotateZ(-45deg);
    background-color: white;
}

/* Sections */
section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    min-height: fit-content;
}

/* Profile */
#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}
.section-pic-container{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
    img{
        object-fit:cover;
        height: 400px;
        width: 400px;
        object-position: 50% 0%;
        /* box-shadow: 20px 20px 20px rgba(0,0,0,0.2); */
        transition: all .4s ease; 
        filter: grayscale(70%);
        border-radius: 50%;
        /* border-radius: 60% 40% 30% 70%/60% 30% 70% 40%; */
        z-index: -1; 
    }
    img:hover{
        animation: radius-image 20s ease-in-out infinite;
    }  
}
/* @keyframes radius-image {
        0%{
            filter: grayscale(100%);
            border-radius: 50%
        }
        20%{
            filter: grayscale(80%);
            border-radius: 30% 60% 70% 40%/50% 60% 30% 60%
        }
         30%{
            filter: grayscale(60%);
            border-radius: 50% 25% 40% 60%/45% 50% 40% 30%
        } 
        40%{
            filter: grayscale(50%);
            border-radius: 35% 50% 30% 70%/60% 30% 70% 40%
        } 
        
        50%{
            filter: grayscale(50%);
            border-radius: 50% 30% 10% 50%/40% 50% 30% 40%
        }
        60%{
            filter: grayscale(50%);
            border-radius: 30% 50% 40% 40%/50% 60% 30% 60%
        }
        70%{
            filter: grayscale(50%);
            border-radius: 60% 40% 30% 70%/60% 30% 70% 40%
        } 
        80%{
            filter: grayscale(50%);
            border-radius: 70% 25% 50% 20%/30% 30% 70% 40%
        }
        90%{
            filter: grayscale(60%);
            border-radius: 60% 40% 30% 70%/60% 30% 70% 40%
        }
        100%{
            filter: grayscale(80%);
            border-radius: 50%
        } 
    } */

.section-text{
    align-self: center;
    text-align: center;

    p{
        font-weight: 600;
    }
    .section-text-p1{
        text-align: center;
    }
    .section-text-p2{
        font-size: 1.75rem;
        margin-bottom: 1rem; 
    }
    .title{
        font-size: 3rem;
        text-align: center;
    } 
}

.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;

    .btn{
        font-weight: 600;
        padding: 1rem;
        transition: all .4s ease;
        border: rgb(53,53,53) 0.1rem solid;
        border-radius: 2rem;
        cursor: pointer;
        width: 8rem;
    }
    .btn-color-1:hover{
        background: rgb(53,53,53);
        color: white;
    }
    .btn-color-2{
        background: rgb(53,53,53);
        color: white;
    }
    .btn-color-2:hover{
        background: rgb(0,0,0);
        color: white;
        /* box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); */
        transform: scale(105%);
    }
}

#socials-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.icon{
    cursor: pointer;
    height: 2rem;
    transition: all .4s ease;
}
.icon:hover{
    transform: scale(110%);
}

