/* General */
@font-face {
    font-family:"Poppins";
    src: url(./assets/fonts/Poppins-Regular.ttf);
}
/* Keyframes */
/* @keyframes radius-image {
    0%{
        filter: grayscale(100%);
        border-radius: 50%
    }
    20%{
        filter: grayscale(80%);
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%
    }
     30%{
        filter: grayscale(60%);
        border-radius: 50% 25% 40% 60%/45% 50% 40% 30%
    } 
    40%{
        filter: grayscale(50%);
        border-radius: 35% 50% 30% 70%/60% 30% 70% 40%
    } 
    
    50%{
        filter: grayscale(50%);
        border-radius: 50% 30% 10% 50%/40% 50% 30% 40%
    }
    60%{
        filter: grayscale(50%);
        border-radius: 30% 50% 40% 40%/50% 60% 30% 60%
    }
    70%{
        filter: grayscale(50%);
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%
    } 
    80%{
        filter: grayscale(50%);
        border-radius: 70% 25% 50% 20%/30% 30% 70% 40%
    }
    90%{
        filter: grayscale(60%);
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%
    }
    100%{
        filter: grayscale(80%);
        border-radius: 50%
    } 
} */
@keyframes left-appearance {
    from{
        /* transform: scale(0); */
        transform: translateX(-100%);
        opacity: 0;
    }
    to{
        /* transform: scale(1); */
        transform: translateX(0);
        opacity: 1;  
    }
}
@keyframes right-appearance {
    from{
        /* transform: scale(0); */
        transform: translateX(+100%);
        opacity: 0;
    }
    to{
        /* transform: scale(1); */
        transform: translateX(0);
        opacity: 1;  
    }
}
@keyframes top-appearance {
    from{
        /* transform: scale(0); */
        transform: translateY(-200%);
        opacity: 0;
    }
    to{
        /* transform: scale(1); */
        transform: translateY(0);
        opacity: 1;  
    }
}
@keyframes bottom-appearance {
    from{
        /* transform: scale(0); */
        transform: translateY(200%);
        opacity: 0;
    }
    to{
        /* transform: scale(1); */
        transform: translateY(0);
        opacity: 1;  
    }
}
@keyframes scale-appearance {
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;  
    }
}

body{
    font-family:"Poppins", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

p{
    color: rgb(85,85,85);
}
.p1-title, .title{
    text-align: center;
    animation: scale-appearance linear;
    animation-timeline: view();
    animation-range-start: cover 0% ;
    animation-range-end: contain 50%;
}
.p1-title{ 
    font-weight: 600;
}
.title{
    font-size: 3rem;
    
}
/* Navigation */
nav{
    display: flex;
    justify-content: space-around;
    height: 17vh;
    align-items: center;
    
    
    .logo{
        font-size:2rem ;
        cursor: default;
    }
    .nav-links{
        display: flex;
        list-style: none;
        gap: 2rem;
        font-size: 1.5rem;
    }
    a{
        position: relative;
        text-decoration: none;
        transition: all 0.4s ease;
        color: black;
    }
    a:hover{
        color: gray;
    }
    /*effect slow underline*/
    a::after{                   
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: -1rem;
        background-color: grey;
        transform: scale(0);
        transition: all 0.4s ease-in-out;
        visibility: hidden;
    }
    a:hover::after{
        visibility: visible;
        transform: scale(1);
        color: gray;
    } 
}

/* Hamburger-nav */
#hamburger-nav{
    display: none;
    justify-content: space-between ;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}
.hamburger-menu{
    /* background-color: #385170; */
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
    /* opacity: 0.9; */
    position: fixed;
    width: 450px;
    max-width: 450px;
    right: -450px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    transition: all .4s ease;
   

    ul{
        list-style: none;
    }
    ul li a{
        text-decoration: none;
        color: white;
        transition: all .4s ease;
    }
    ul li a:hover{
        text-decoration: none;
        color: grey;
    }
}
.hamburger-icon{
    width: 30px;
    height: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    
    span{
        background-color: black;
        width: 100%;
        height: 4px;
        transition: all .5s ease;
    }
}
.hamburger-menu.active{
    right: 0;
}
.hamburger-icon.active span:nth-child(2){
    opacity: 0;
}
.hamburger-icon.active span:first-child{
    transform: translateY(10px) rotateZ(45deg);
    background-color: white;
}
.hamburger-icon.active span:last-child{
    transform: translateY(-10px) rotateZ(-45deg);
    background-color: white;
}

/* Sections */
section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    min-height: fit-content;
    
}

/* Profile */
#profile{
    height: 83vh;
    margin-bottom: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    transition: all .5s ease;

    .img-profile{
        height: 300px;
        width: 300px;
        border-radius: 50%;
        object-fit: cover;
        object-position: 50% 0%;
        filter: grayscale(80%);
        box-shadow: 20px 10px 10px rgba(0, 0, 0, 0.3);
        /* animation: radius-image 20s ease-in-out infinite; */   
    }    
    p{  
        text-align: center;
        font-weight: 600;
    }
    /* .p1-title{
        font-size: 3rem;
    }
    .title{
        font-size: 3rem;
    } */
    
    .p2-profile{  
        font-size: 1.75rem;
        margin-bottom: 1rem;
    }
    .container-btn-profile{
        display: flex;
        justify-content: center;
        gap: 1rem;

        .btn{
            border-radius: 1rem;
            width: 8.5rem;
            padding: 1rem;
            font-weight: 600;
            transition: all .5s ease;
            cursor: pointer;
            background-color: white;
        }
        .cv-btn-profile:hover{
            background-color: rgb(53, 53, 53);
            border: rgb(53, 53, 53) 0.1rem solid;
            color:white;
        }
        .contact-btn-profile{
            background-color: rgb(53, 53, 53);
            border: rgb(53, 53, 53) 0.1rem solid;
            color: white;
        }
        .contact-btn-profile:hover{
            background-color: rgb(0, 0, 0);
            color: white;
            transform: scale(105%);
        }
    
    }
    .container-social-profile{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        gap: 1rem;

        img{
            width: 32px;
            height: 32px;
            cursor: pointer;
            transition: transform .5s ease;
        }
        img:hover{
            transform: scale(110%);
            border-radius: 50%;
            border: black;
            background-color: #F0F0F0;
        }
    }   
}
/* About me */
#about{ 
    .container-about{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        height: 80%;  
    }
    .container-img-about{
        animation: left-appearance forwards;
        animation-timeline: view();
        animation-range-start: cover 0% ;
        animation-range-end: contain 50%;
        margin: auto 0;
        
        img{
            width: 450px;
            height: 400px;
            border-radius: 1rem;
            filter: grayscale(80%);
            object-fit: cover;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
            /* object-position: 50% 0%; */
        }

    }
    .container-education{
        animation: right-appearance forwards;
        animation-timeline: view();
        animation-range-start: cover 0% ;
        animation-range-end: contain 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;

        .container-cards-about{
            display: flex;
            justify-content: center;
            gap: 4rem;
        }
        .card-about{
            padding: 1.5rem;
            flex: 1;
            background: white;
            border-radius: 1rem;
            /* border: rgb(53, 53, 53) 0.1rem solid; */
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
            border-color: rgb(163, 163, 163);
            text-align: center;
            /* min-width: 200px; */

            img{
                width: 32px;
                height: 32px;
            }
        } 

    }

}

/* skills */
#skills{
    height: 80vh;
    display: flex;
    flex-direction: column;
    
    .block-xp{
        margin-top: 2rem;
        display: flex;
        gap: 2rem;
        justify-content: center;

        .card-container-xp{
            /* border: 1px solid black; */
            border-radius: 1rem;
            padding: 1.5rem;
            flex: 1;
            box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
           
        }
        .card1-container-xp{
            animation: bottom-appearance linear;
            animation-timeline: view();
            animation-range-start: cover 0% ;
            animation-range-end: contain 50%;
        }
        .card2-container-xp{
            animation: right-appearance linear;
            animation-timeline: view();
            animation-range-start: cover 0% ;
            animation-range-end: contain 50%;
        }
        h2{
            text-align: center;
            margin-bottom: 2rem;
        }
        .article-container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            row-gap: 3rem;
        }
        article{
            display: flex;
            flex: 1 1 50%;
            
            gap: 1rem;
        }
        
    }
    
}

/* Projects */
#projects{
   
    .project-container{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .img-project-container{
        animation: left-appearance forwards;
        animation-timeline: view();
        animation-range-start: cover 0% ;
        animation-range-end: contain 50%;
        img{
            width: 400px;
            height: 250px;
            border-radius: 1rem;
        }
    }
    .description-project-container{
        animation: right-appearance forwards;
        animation-timeline: view();
        animation-range-start: cover 0% ;
        animation-range-end: contain 50%;
    }
    .techno-projects{
        display: flex;
        gap: 1rem;

        span{
            box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
            /* border: 1px solid black; */
            border-radius: 1rem;
            padding: 2px 5px;
        }
    }
}

/* Contact */
#contact{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    img{
        height: 32px; width: 32px;
    }

    .email-icon{
        height: 40px; width: 40px;
    }
    .contact-container{
        animation: bottom-appearance linear;
        animation-timeline: view();
        animation-range-start: cover 0% ;
        animation-range-end: contain 50%;

        width: fit-content;
        margin: 2rem auto;
        display: flex;
        justify-content: center;
        padding: 2rem;
        gap: 2rem;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 2rem;

        .contact-card{
            display: flex;
            gap: 1rem;
            justify-content: center;
            align-items: center;
        }
        a{
            text-decoration: none;
            color: black;
        }

    }
}

/* footer */
footer{
    height: 26vh;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .nav-links ul{
        display: flex;
        gap: 2rem;

        li{
            list-style: none;
        }
    }
}
